* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
body > .container {
  width: 100%;
  height: 100vh;
  background-color: gray;
  color: white;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.box1 {
  display: flex;
  gap: 15px;
  align-items: center;
}
.box1 > div {
  text-align: center;
  border-right: 3px solid salmon;
  padding-right: 15px;
}
.box1 > div > h1 {
  font-size: 60px;
  font-family: cursive;
}
.box1 > div > p {
  font-size: 18px;
}
.footerSec {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.756);
  color: white;
}
